DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=barbearia_db
DB_SSL=false
# DB_SSL_CA=cole_o_conteudo_pem_do_certificado_aqui
# DB_SSL_CA_PATH=C:\\caminho\\para\\ca.pem
NODE_ENV=development
PORT=3001
JWT_SECRET=barbearia_dev_secret
RECOVERY_JWT_SECRET=barbearia_recovery_secret
